<!DOCTYPE HTML>
<html>
<include file="./Application/Home/View/widget/head.html" />

<!--banner start here-->
<div class="banner-two">
</div>
<!--banner end here-->
<!--start-about-->
<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="col-md-4 about-left">
				<h3>关于我们</h3>
				<a href="Content"><img src="Public/images/ab.jpg" alt=""></a>
			</div>
			<div class="col-md-4 about-left">
				<h3>为什么选择伤害凯歌</h3>
				<h4>scrambled it to make a type specimen</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
				<h4>scrambled it to make a type specimen</h4>
				<p>Since the 1500s, when an unknown printer a galley of type and scrambled specimen book.</p>
				<h4>scrambled it to make a type specimen</h4>
				<p> It has survivednot only five centuries, but also the leap into electronic typesetting.</p>
			</div>
			<div class="col-md-4 about-left">
				<h3>人才招聘</h3>
				<h4>Typi non habent claritatem</h4>
				<p>On the other hand, we denounce with righteous indignation and dislike men.</p>
				<ul>
					<li><a href="#">Sed ut perspiciatis unde omnis iste </a></li>
					<li><a href="#">veritatis quasi architecto beatae vitae</a></li>
					<li><a href="#">Nemo enim ipsam voluptatem quia voluptas</a></li>
					<li><a href="#">Neque porro quisquam est, qui dolorem</a></li>
					<li><a href="#">Ut enim ad minima veniam, quis nostrum</a></li>
					<li><a href="#">Duis aute irure dolor reprehenderit velit</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="histort">
	<div class="container">
		<div class="history-main">
			<h3>壮大之路</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione</p>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
		</div>
	</div>
</div>
<div class="team">
	<div class="container">
		<div class="team-main" > 
			<h3>我们的团队</h3>
			<div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
				<img src="Public/images/t4.jpg" alt=""/>
			</div>
			<div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
				<img src="Public/images/t1.jpg" alt=""/>
			</div>
			<div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
				<img src="Public/images/t3.jpg" alt=""/>
			</div>
			<div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
				<img src="Public/images/t2.jpg" alt=""/>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--about end here-->

<include file="./Application/Home/View/widget/foot.html" />
</html>