<!DOCTYPE HTML>
<html>
<include file="./Application/Home/View/widget/head.html" />

<!--banner start here-->
<div class="banner-two">
</div>
<!--banner end here-->
<!--contact start here-->
<div class="contact">
	<div class="container">
		<div class="contact-top">
			<h3>联系我们</h3>
			<p> Letraset and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
		<div class="map">
			<h4>公司地址</h4>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127640.75918330808!2d103.8466694772479!3d1.3111268075660079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da11238a8b9375%3A0x887869cf52abf5c4!2sSingapore!5e0!3m2!1sen!2sin!4v1436965675589"> </iframe>
		</div>
		<div class="contact-infom">
			<h4>您的联系方式</h4>
			<p>留下您的联系方式, 
				方便我们洗劫or incididunt ut labore et dolore magna aliqua.It was popularised in the 1960s with the release of Letraset
				and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>	
			<div class="contact-form">
				<div>
					<input id="commentName" type="text" value="姓名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
					<input id="commentEmail" type="email" value="邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input id="commentPhone" type="text" value="电话" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}" required="">
					<textarea id="commentContent" type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">备注...</textarea>
					<input id="commitComment" type="submit" value="提交" >
				</div>
			</div>
			
		</div>
	</div>
	<!--contact end here-->
	<include file="./Application/Home/View/widget/foot.html" />

</html>
<script>

	$('#commitComment').click(function () {
		var data = {
			userName : $('#commentName').val(),
			userEmail : $('#commentEmail').val(),
			userPhone : $('#commentPhone').val(),
			userComment : $('#commentContent').val()
		}

		$.ajax({
			url:'/ContactUs/addComment',
			data:data,
			dataType:'json',
			method:'post',
			success:function(res){
				if(res.code == 0 || res.code == '0'){
					alert(res.description);
					$('#commentName').val('');
					$('#commitEmail').val('');
					$('#commentPhone').val('');
					$('#commentConent').val('');
				}else{
					alert(res.description);
				}
			}
		})
	})
</script>