<!DOCTYPE HTML>
<html>
<include file="./Application/Home/View/widget/head.html" />

<!--banner start here-->
<div class="banner">
	<div class="container">
		<div class="banner-main">
			<h3>这里有最新鲜的榴莲</h3>
			<p>海外直购，安全放心</p>
			<a href="Content">了解更多</a>
			<div class="clearfix"> </div>	
		</div>
	</div>
</div>
<!--banner end here-->
<!--bann-info start here-->
<div class="bann-info">
	<div class="container">
		<div class="bann-info-main">
			<div class="col-md-3 bann-grid">
				<div class="agro-grain"><span class="glyphicon glyphicon-grain" aria-hidden="true"> </span></div>
			</div>
			<div class="col-md-6 bann-grid">
				<h6>关于凯哥</h6>
				<h3>凯哥泰国之行</h3>
				<p>我才不会说是顺便去做变性手术</p>
				<a href="Content" class="hvr-wobble-bottom">了解更多</a>
			</div>
			<div class="col-md-3 bann-grid">
				<img src="Public/images/cucumber.jpg" alt="" class="img-responsive">
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--bann info end here-->
<!--wedo start here-->
<div class="we-do">
	<div class="container">
		<div class="wedo-main">
			<div class="col-md-4 wedo-grid">
				<span class="glyphicon glyphicon-leaf" aria-hidden="true"> </span>
				<h3>新鲜水果</h3>
				<h4>刚从树上撸下来的榴莲</h4>
				<p> 香气射一脸一脸一脸一脸一脸一脸一脸一脸一脸一脸一脸一脸一脸一脸一脸一脸一脸一脸一脸一脸一脸 </p>
				<a href="single.html"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> </span></a>
			</div>
			<div class="col-md-4 wedo-grid">
				<span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
				<h3>贴心服务</h3>
				<h4>负距离沟通，无缝连接</h4>
				<p> 深深深深深深深深深深深深深深深深深深深深深深深深深深深深深深深深深深深深度交流 </p>
				<a href="single.html"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> </span></a>
			</div>
			<div class="col-md-4 wedo-grid">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span>
				<h3>价格透明</h3>
				<h4>不便宜你弹我的蛋蛋</h4>
				<p> 啊！疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼疼 </p>
				<a href="single.html"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> </span></a>
			</div>
			<div class="clearfix"> </div>	
		</div>
	</div>
</div>
<!--we do end here-->
<!--agrom strip start here-->
<div class="agro-strip">
	<div class="container">
		<div class="agro-strip-main">
			<h3>新鲜榴莲去哪买，中国上海找凯哥</h3>
			<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system</p>
			<a href="single.html" class="hvr-wobble-bottom">了解更多</a>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--agrom strip end here-->
<!--latest-news start here-->
<div class="latest-new">
	<div class="container">
		<div class="latest-news-main">
			<div class="col-md-3 latest-grid">
				<img src="Public/images/l1.jpg" alt="" class="img-responsive">
				<p>骨肉相连</p>
			</div>
			<div class="col-md-3 latest-grid">
				<img src="Public/images/l2.jpg" alt="" class="img-responsive">
				<p>呼之欲出</p>
			</div>
			<div class="col-md-3 latest-grid">
				<img src="Public/images/l3.jpg" alt="" class="img-responsive">
				<p>空城以待</p>
			</div>
			<div class="col-md-3 latest-grid">
				<img src="Public/images/l4.jpg" alt="" class="img-responsive">
				<p>满仓待泻</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--latest news end here-->


<include file="./Application/Home/View/widget/foot.html" />
</html>